@model MassDB.Models.Clear

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="background-color:crimson">Create Mass Clear Information</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="background-color:hotpink">
    <h4>Clear</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.MassMemberId, "MassMemberId", htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MassMemberId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MassMemberId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.WashRoomClearingDate, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WashRoomClearingDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WashRoomClearingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilterClearingDate, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FilterClearingDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FilterClearingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "form-control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
