@model MassDB.Models.Market

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Details Mass Market</h2>

<div class="text-center">
    <h4>Market</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarketingOpeningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketingOpeningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketingCloseingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketingCloseingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketingTk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketingTk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BigMarketingTk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BigMarketingTk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MassMamber.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MassMamber.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarketId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
